.valid-notif {
  color: green;
}

.error-notif {
  color: red;
}

.valid-notif,
.error-notif {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}